@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: radial-gradient(farthest-corner at 40px 40px, rgb(10, 175, 65) 0%, rgb(17, 89, 172) 100%);
    ;
}

#root {
    width: 100%;
}

.currency-snap {
    margin: 0 auto;
    padding: 40px 30px 50px 50px;
    border-radius: 10px;
    max-width: 410px;
    backdrop-filter: blur(30px);
    background: rgba(2, 7, 40, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
}

.currency-snap .currency-snap__title {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}

.currency-snap .currency-snap__form {
    margin-top: 45px;
}

.currency-snap__form .currency-snap__form__group {
    display: flex;
    margin-bottom: 30px;
    flex-direction: column;
}

.currency-snap__form .currency-snap__form__group .currency-snap__form__label {
    color: #fff;
    font-weight: 500;
    display: block;
    margin-bottom: 9px;
    font-size: 1.1rem;

}

.currency-snap__form .currency-snap__form__group .currency-snap__form__input {
    outline: none;
    font-size: 1.1rem;
    padding: 0 5px;
    color: #fff;
    font-weight: 600;
    min-height: 48px;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    transition: 0.3s all ease-in-out;
}

.currency-snap__form .currency-snap__form__group .currency-snap__form__input:hover {
    background: rgba(255, 255, 255, 0.3);
}

.currency-snap__form .currency-snap__form__group--two {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.currency-snap__form__group--two .currency-snap__form__select {
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 3px 3px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

.currency-snap__form__group--two .currency-snap__form__select:hover {
    background: rgba(255, 255, 255, 0.2);
}

.currency-snap__form__group--two .currency-snap__form__select img {
    width: 30px;
}

.currency-snap__form__group--two .currency-snap__form__select .currency-snap__form__dropdown {
    outline: none;
    border: none;
    background: none;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0 10px 0 10px;
}

.currency-snap__form__group--two .currency-snap__form__select .currency-snap__form__dropdown option {
    color: #000;
    font-weight: 600;
}

.currency-snap__form__group--two .currency-snap__swap__icon {
    height: 40px;
    width: 40px;
    cursor: pointer;
    display: flex;
    margin-top: 25px;
    align-items: center;
    justify-content: center;
    border-radius: 45%;
    background: rgba(255, 255, 255, 0.179);
    border: 1px solid rgba(255, 255, 255, 0.479);
    transition: 0.3s all ease-in-out;
}

.currency-snap__form__group--two .currency-snap__swap__icon:hover {
    background: rgba(255, 255, 255, 0.479);
}

.currency-snap__form .currency-snap__form__button {
    width: 100%;
    min-height: 52px;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

.currency-snap__form .currency-snap__form__button:hover {
    background: rgba(255, 255, 255, 0.7);
}

.currency-snap__form .currency-snap__rate {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 25px 0;
    margin-top: 30px;
    border-radius: 7px;
    letter-spacing: 0.5px;
    background: rgba(255, 255, 255, 0.15);
    text-align: center;
}